.maxHeight {
  max-height: 250px;
  overflow-y: scroll;
}

.dropdown-menu {
  min-width: 7rem;
}


.dropdown-menu {
	background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.aActive {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
