<div id="footer" class="rounded footer container" *ngIf="globalService.showFooter">
  <div class="row px-5 mt-1 text-center">
    <div class="col px-2 technical">
          <div class="card">
            <div class="card-header">
              <h6>Developed By</h6>
            </div>

            <div class="card-body" style="line-height: 1.25rem;">
              <span>
                <p class="card-text" style="font-size: 16px;">Saurabh Kumar Sunny</p>
                <a href="https://skyup259.github.io/host_profile/">Profile</a>
              </span>
              <p class="card-text" style="font-size: 14px;">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
                saurabh.kumar259@gmail.com</p>
              <p> <i class="fa fa-copyright" aria-hidden="true"></i> 2020 Saurabh Sunny</p>
            </div>
          </div>
    </div>

  </div>
</div>
