<div class="justify-content-md-center container-sm">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-info howToPlay" data-toggle="modal" data-target="#howtoplay">How to Play</button>
    </div>
  </div>
  <div class="row marginTop">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary btn-lg rounded-circle start-button" (click)="globalService.enterName()">Start</button>
    </div>
  </div>

  <div class="row mt-5" *ngIf="globalService.inputRow">
    <div class="col-7 pl-5 pr-0 text-right">
      <input type="text" class="form-control float-right" placeholder="Word {{globalService.questionNumber +1}}/{{globalService.numberOfQues}}" [(ngModel)]="globalService.userWord"
      (keyup.enter)="globalService.nextQuestion()" (ngModelChange)="globalService.userWord = $event.toLowerCase()">
    </div>
    <div class="col-5 pl-1 text-left">
      <button type="button" class="btn btn-primary" (click)="globalService.nextQuestion()" [disabled]="!globalService.userWord">Done</button>
      <i class="fa fa-play fa-lg ml-3" style="color: blue;" aria-hidden="true" (click)="globalService.aloudQuestion()"></i>
    </div>
  </div>

  <div class="row" style="margin-top: 4%">
    <div class="col-12 text-center" *ngIf="globalService.questionNumber > 0">
      <button type="button" class="btn btn-primary btn" (click)="globalService.submit()">Submit</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{globalService.userName}}: Your Score is {{globalService.correctPercetage}}% </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-sm">
          <thead class="table-head">
            <tr>
              <th scope="col">Actual</th>
              <th scope="col">Your Input</th>
            </tr>
          <tbody class="table-body">
            <tr *ngFor="let level of ' '.repeat(globalService.questionNumber).split(''), let x = index"
            [ngClass]="{'table-success': globalService.currentLevelQues[x] === globalService.userInput[x], 'table-danger': globalService.currentLevelQues[x] !== globalService.userInput[x]}">
              <td>{{globalService.currentLevelQues[x]}}</td>
              <td>{{globalService.userInput[x]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="globalService.nextLevel()">Next Level</button>
      </div>
    </div>
  </div>
</div>

<!--How to Play-->
<div class="modal fade" id="howtoplay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Hear and Spell</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="line-height: .75rem; font-size: 14px;">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item disabled">1. Choose Level.(level 1 = easy, level 40 = hard)</a>
          <a href="#" class="list-group-item disabled">2. Total 20 words in each level.</a>
          <a href="#" class="list-group-item disabled">3. Press Start Button</a>
          <a href="#" class="list-group-item disabled">4. Enter Your Name(default name is Bob)</a>
          <a href="#" class="list-group-item disabled">5. Hear the voice and write your answer in input box</a>
          <a href="#" class="list-group-item disabled">6. Result will be generated after 20th answer.</a>
        </div>
        <div class="mt-4"><b>Note:</b></div>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item disabled">1. Make sure that device is not on mute</a>
          <a href="#" class="list-group-item disabled">2. This app works best in following browsers: Google Chrome</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="enterName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Your Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-4">
       <input type="text" class="form-control nameForm float-center" placeholder="Name" [(ngModel)]="globalService.userName" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn" data-dismiss="modal" (click)="globalService.startLevel()">Ok & Hear 1st Word</button>
      </div>
    </div>
  </div>
</div>

